{% extends 'cadastro/base.html' %}

{% block title %}Gráfico de Comparação{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Gráfico de Comparação - {{ aluno.obter_nome }}</h2>

    <div class="text-center mt-4">
        <img src="data:image/png;base64,{{ graphic }}" alt="Gráfico de Comparação" class="img-fluid">
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}

